html,
body {
  min-height: 100%;
  margin: 0 20px;
  background: #350179;
  color: white;
  font-family: Century Gothic, Georgia, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}