*{
    font-family: 'Century Gothic', 'Inconsolata', monospace;
}

label{
    display: block;
}

input {
    display: block;
    padding: 20px;
    margin: 15px 5px;
    width: 30vw;
    font-size: 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,0.3);
    color: #e1f5f4;
    font-weight: bolder;
}

button{
    padding: 15px;
    font-size: 15px;
    border-radius: 20px;
    width: 70%;
    font-weight: bolder;
}

.results {
    font-size: 25px;
}

.saveButton {
    z-index: 9999;
    position: fixed; bottom: 0; right: 0;
    width: 25%;
}

.bar {
    background-color: gray;
    height: 25px;
    width: 100%;
    border-radius: 15px;
    margin: 15px;
    position: relative;
  }
  
  .bar-inner {
    background-color: green;
    width: 30%;
    height: 100%;
    border-radius: 15px;
  }

  input[type="checkbox"] {
      width: 50px;
      transform: scale(2);
  }

  .checkrow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }