*{
    font-family: Century Gothic;
}

label{
    display: block;
}

input {
    display: block;
    padding: 20px;
    margin: 15px 5px;
    width: 30vw;
    font-size: 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,0.3);
    color: #FCA311;
    font-weight: bolder;
    width: 70%;
}

button{
    padding: 15px;
    font-size: 15px;
    border-radius: 20px;
    width: 70%;
    margin-left: 50px;
}

.results {
    font-size: 25px;
}

.saveButton {
    position: fixed; bottom: 0; right: 0;
    width: 25%;
}